:root {
 --text-normal-font: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-normal-size: 18px;
  --text-normal-color: #000;
  --text-normal-line-height: 1.5;
  --text-normal-weight: 400;

  /* Title Text */
  --text-title-size: 30px;
  --text-title-weight: 700;
  --text-title-color: #222;

  /* Highlight Text */
  --text-highlight-size: 11px;
  --text-highlight-color: #000;
  --text-highlight-weight: 600;

    /* Project colours */
  --colour-hiking: #C22938;
  --colour-cycling: #FC7B4E;
  --colour-birdwatching: #1eaca1;
  --colour-seaside: #1A63AB;

  /* Specific colours used with categories */
  --colour-best-overall: #4D3949;
  --colour-hiking: #C22938;
  --colour-cycling: #FC7B4E;
  --colour-birdwatching: #1eaca1;
  --colour-camping: #F25A87;
  --colour-seaside: #1A63AB;
  --colour-geodiversity: #7e461e;

    /* Colours for category mapping (colour band produced using the category colours) */
    --colour-best-overall-top: #190114;
    --colour-best-overall-bot: #f9aae986;
    --colour-hiking-top: #a10010;
    --colour-hiking-bot: #fca3836f;
    --colour-cycling-top: #db3a00;
    --colour-cycling-bot: #fbd86e75;
    --colour-birdwatching-top: #03666a;
    --colour-birdwatching-bot: #7eece879;
    --colour-camping-top: rgb(136, 0, 41);
    --colour-camping-bot: #ffa1dd77;
    --colour-seaside-top: #0a0075;
    --colour-seaside-bot: #b5dfff7e;
    --colour-geodiversity-top: #210a00;
    --colour-geodiversity-bot: #bfac5e6f;

    /* Navigation bar styles */
    --navbar-width: 100%;
    --navbar-width-min: 50px;
    --navbar-dark-primary: var(--colour-hiking);
    --navbar-light-primary: #5d5d5d;
    --navbar-highlight-colour: #0070f1;
    --natural-asset-highlight: #3c3c3c;

  /* Colours to use with protected landscapes (AONB, national parks, heritage coasts) */
  --colour-protected-landscape: #deeace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ________________________________________________________________________ */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  scroll-behavior: smooth;
}

.text-normal {
  font-family: var(--text-normal-font);
  font-size: var(--text-normal-size);
  color: var(--text-normal-color);
  line-height: var(--text-normal-line-height);
  font-weight: var(--text-normal-weight);
}

.text-title {
  font-family: var(--text-normal-font);
  font-size: var(--text-title-size);
  font-weight: var(--text-title-weight);
  color: var(--text-title-color);
  line-height: 1.2;
  margin-bottom: 10px;
}

.text-highlight {
  font-family: var(--text-normal-font);
  color: var(--text-highlight-color);
  font-size: var(--text-highlight-size);
  font-weight: var(--text-highlight-weight);
}

h2 {
  font-size: 20px;
  font-weight: var(--text-title-weight);
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: var(--text-normal-font);
}

ul {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

ul li {
  margin-bottom: 0.5rem;
}

.left-bar {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: stretch;
  flex-grow: 1; /* allows the left bar to grow */
  box-sizing: border-box; /* ensures padding is respected inside width */
  /* justify-content: space-between; */
}
#controls {
  /* flex: 1; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 106%;
  justify-content: space-between;
  box-sizing: border-box; /* ensures padding is respected inside width */
  /* max-width: 100%; */
}

.controls-internal {
  position: relative;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 15px;
  width: 100%;
  /* min-width: 46%; */
  min-width: 100px; /* responsive floor */
  width: 100%; /* optional: can remove this */
}
/* 
.left-bar, #controls, .controls-internal {
  border: 1px solid red;
} */

#timeValue {
    font-family: var(--text-normal-font);
    font-size: 14px;
    font-weight: var(--text-highlight-weight);
    margin-top: -40px;
    margin-left: 0px;
    color: #007BFF;
}
.control-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}
input[type="range"] {
    width: 100%;
    margin: 10px 0;
}
.legend {
    margin-top: -2px;
    font-size: 10px;
    /* border-top: 1px solid #eee; */
    /* padding-top: 10px; */
}
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: var(--text-normal-font);
  font-size: 12px;
  color: var(--text-normal-color);
  line-height: var(--text-normal-line-height);
  font-weight: var(--text-normal-weight);
}
.legend-color {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 10;
}
.gradient-labels {
position: absolute;
top: 0;
left: 0px;
width: 5%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between; /* Distribute labels at the top and bottom */
pointer-events: none; /* Prevent labels from interfering with interactions */
font-size: 10px;
}
.debug-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    font-size: 11px;
    border-radius: 3px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#chart {
  position: relative;
  width: 102%;
  height: 250px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.chart-button {
  padding: 5px 10px;
  background-color: white;  /* Button background color */
  border: 1px solid gray;  /* Border for visibility */
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;  /* Make text bold */
  text-align: center;  /* Center the text (emoji) */
}
.dice-button {
  padding: 5px 5px;
  background-color: white;  /* Button background color */
  border: 1px solid rgb(175, 175, 175);  /* Border for visibility */
  color: rgb(175, 175, 175);
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;  /* Make text bold */
  text-align: center;  /* Center the text (emoji) */
  width: 47px;
  height: 50px;
}
#geocoder-container {
  position: relative;
  margin-top: 10px;
  right: 0px;
  width: 100%;
  z-index: 100;
  height: auto;
}

#popup {
  position: absolute;
  bottom: 0px;
  left: 20px;
  width: 300px;
  height: 200px;
  background: red;
  z-index: 99;
  padding: 0px;
}
/* .mapboxgl-popup-content {
  background-color: white;
  font-family: var(--text-normal-font);
  font-size: var(--text-highlight-size);
  font-weight: var(--text-highlight-weight);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
} */

.place-name-container {
  /* background-color: transparent; */
  display: flex;
  align-items: flex-end;
  /* gap: 18px; Space between popup and line */
}

.place-name-popup {
  background-color: red !important;
  max-height: 18px;
  border-radius: 0px;
  font-family: 'Calibri', sans-serif;
  font-size: 12px !important;
  color: white !important;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}

.place-name-line {
  width: 20px;
  height: 18px;
  background: black !important;
}

.mapboxgl-popup-tip {
  display: none; /* Hide the default tip */
}

.mapboxgl-popup-content {
  background: transparent; /* Remove default background */
  box-shadow: none; /* Remove box shadow */
  padding: 0; /* Remove default padding */
  border: none;
  font-family: var(--text-normal-font);
  font-size: var(--text-highlight-size);
  font-weight: var(--text-highlight-weight);
}
.category_popup.show {
  opacity: 1;
  transform: translateY(0); /* Move into place */
}

@keyframes slide {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* .front-page {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
  padding: 20px;
} */

/* .front-page-button {
  position: relative;
  font-family: var(--text-normal-font);
  color: white;
  font-size: 12px;
  font-weight: 800;
  padding: 10px 20px;
  border: none;
  background: rgb(236, 180, 11);
  border-radius: 12px;
  cursor: pointer;
  width: 10vw;
  min-width: 200px;
  max-width: 300px;
} */

.front-page-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.6) contrast(0.9);
}

.front-page-img {
  width: 14vw;
  height: auto;
  object-fit: contain;
  min-width: 50px;
  flex-shrink: 0;
  z-index: 2;
  margin-right: 5%;
}

.front-page-textbox {
  position: relative;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; /* center children horizontally */
  gap: 10px;
  width: 50%;
  min-width: 200px;
  z-index: 2;
  color: white;
}

.arrow {
  font-size: 24px;
  margin-top: 5px;
  animation: fadeIn 2s ease-in-out, pulse 2s infinite 2s; /* note delay for pulse */
  position: absolute; 
  bottom: -180px;
  font-family: var(--text-normal-font);
  font-size: 34px;
  font-weight: 600;
}

@keyframes pulse {
  0% { transform: translateY(0); opacity: 1; }
  50% { transform: translateY(10px); opacity: 0.6; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.landing-container{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.landing-slide{
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  color: black;
  background: white;
  scroll-snap-align: start;
  overflow: hidden;
}

.landing-textbox{
  width: 30%;
  font-family: var(--text-normal-font);
  color: black;
  max-width: 500px;
  min-width: 300px;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  justify-content: left;
} 

/* navigation bar styles*/
#nav-toggle:checked ~ #nav-header {
  width: calc(var(--navbar-width-min) - 16px);
}
#nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
  width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
  background: var(--navbar-light-primary);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--navbar-light-primary);
  transform: translate(0, 0) rotate(0deg);
}
#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}
#nav-toggle:checked ~ #nav-bar {
  width: var(--navbar-width-min);
}

#nav-toggle-icon {
  font-size: 20px;
  color: var(--navbar-highlight-colour);
  transition: transform 0.3s ease;
}

/* rotate arrow when menu is expanded */
#nav-toggle:checked ~ #nav-header label > #nav-toggle-icon {
  transform: rotate(90deg);
}

#nav-bar {
  position: fixed-left;
  left: 10px;
  top: 10px;
  bottom: 10px;
  min-width: var(--navbar-width-min);
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: var(--text-normal-font);
  font-size: var(--text-normal-size);
  overflow: hidden;
  user-select: none;
  z-index: 10;
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  padding-right: 10px;
}
#nav-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--navbar-dark-secondary);
}
#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar input[type=checkbox] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: transparent;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: var(--text-normal-size);
  font-family: var(--text-normal-font);
  font-weight: var(--text-title-weight);
  transition: opacity 1s;
}

#nav-header label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--navbar-dark-primary);
  border-radius: 99px;
  transition: background 0.2s;
}
#nav-toggle-burger:before, #nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--navbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}
#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: 'transparent';
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;

  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: bottom; /* Push items to the top and bottom */
  height: 100%;
}

#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* #nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
} */
#nav-content::-webkit-scrollbar-button {
  height: 16px;
}

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
  font-family: var(--text-normal-font);
  font-size: 16;
  font-weight: var(--text-highlight-weight);;
}
.nav-button span {
  transition: opacity 1s;
}
.nav-button .fas {
  transition: min-width 0.2s;
}

.nav-button:last-child,
.nav-button:nth-last-child(2) {
  margin-bottom: 0;
}

#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

    html, body { margin:0; padding:0;  font-family:sans-serif; }
    #secondMap { position:absolute; top:0; bottom:0; width:100%; }
    #controls-panel {
      position:absolute; bottom:38%; left:10px; z-index:11;
      background:transparent; padding:6px; border-radius:6px;
      display:flex; flex-wrap:wrap; gap:4px;
    }
    .city-btn {
  padding: 4px 10px;
  font-size: 12px;
  border: 2px solid #458fb8;
  background: transparent;
  color: #4185a9;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.city-btn:hover {
  background: rgba(62, 99, 201, 0.1);
}

.city-btn.active {
  background: #4ea4cf;
  color: white;
  border: 2px solid #4ea4cf;
}

#bubble-chart {
  position:absolute; bottom:0; left:0;
  width:100%; height:38%; z-index:10;
  background:transparent;
}
#radial-chart {
  position:absolute;
  bottom:65%;
  left:25px;
  width:320px;
  height:320px;
  background:transparent;
  z-index:12;
}
#tooltip {
  position:absolute; pointer-events:none;
  padding:4px 6px; background:rgba(0,0,0,0.7);
  color:#fff; border-radius:4px; font-size:12px;
  visibility:secondmap; z-index:9999;
}
#layer-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  background: #89b6cf;
  color: white;
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 13px;
  z-index: 999;
  font-family: sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.layer-item {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

.layer-item label {
  cursor: pointer;
}

#layer-toggle input[type="checkbox"] {
  margin-right: 6px;
  transform: scale(1.1);
  accent-color: white;  /* ✅ 让 checkbox 是白色勾选 */
}


/* 🚆 Rail: 两白点 + 一条白线 */
.legend.rail::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: translateY(-10%);
}
.legend.rail::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background: white;
  transform: translateY(+40%);
  border-radius: 50%;
  box-shadow: calc(100% + 12px) 0 white;
}

/* 🌿 Green: 绿色圆+白边 */
.legend.green::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: #3EA46E;
  border: 2px solid white;
  border-radius: 50%;
}
#background-image {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('train.png');
  background-size: cover;
  background-position: center;
  z-index: 0;
}
#intro-cover {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(121, 167, 199, 0.7);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
}

.intro-text {
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  border-radius: 10px;
}
#activity-bubbles {
  position: absolute;
  top: 8%; left: -25%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none; /* 保证下方地图仍可交互 */
}
#bubble-title {
  position: absolute;
  top: 10%; left: 3;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  opacity: 0;
  animation: fadein 2s ease forwards;
}

@keyframes fadein {
  to { opacity: 1; }
}
#activity-lines {
  position: absolute;
  top: 40px;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

#activity-chart {
  width: 100%;
  height: 100%;
}
.legend.iso {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;  
  margin-right: 8px;
}

.iso-30  { background-color: #c3b602; }
.iso-60  { background-color: #d49c03; }
.iso-90  { background-color: #ca6104; }
.iso-120 { background-color: #af023c; }

#map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    #card-container {
      position: absolute;
      bottom: 5%;
      left: 50%;
      
      transform: translateX(-50%);
      width: 100%;
      z-index: 9999;
      pointer-events: none;
    }
    .card {
      
      position: absolute;
      left: 75%;
      transform: translateX(-50%);
      font-family: 'Segoe UI', sans-serif;
      color: #f0f0f0;  
      width: 600px;
      height: 130px;
      background: #96b7c8;
      border-radius: 10px;
      padding: 16px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.25);
      text-align:left;
        line-height: 1.3;             /* ✅ 增大行距 */
       
      font-size: 18px;
      opacity: 0.8;
      transition: transform 0.6s ease, opacity 0.6s ease, visibility 0s linear 1s;
      border-radius: 0; 
        border-top: 3px solid rgb(18, 90, 163);       /* ✅ 上白边 */
        border-bottom: 1px solid rgb(18, 90, 163);    /* ✅ 下白边 */
      pointer-events: auto;
    }
    .card strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;  
  color: white;           /* ✅ 白色标题 */
  margin-bottom: 5px;
    }